<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<!-- css file import head태그 안에 추가  -->
	<head>
		<!-- This Page CSS -->
	</head>
	
	<!-- This Page breadcrumbTitle -->
	<th:block layout:fragment="customBreadcrumbTitle">
		<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">회원목록</h4>
	</th:block>
	
	<!-- This Page breadcrumb -->
	<th:block layout:fragment="customBreadcrumb">	
		<li class="breadcrumb-item">
			<a th:href="@{/}" class="text-muted">회원관리 수정 : parksw</a>
		</li>
		<li class="breadcrumb-item text-muted active" aria-current="page">회원목록 2222</li>
	</th:block>

	<!-- Start Page Content -->
	<th:block layout:fragment="customContent">
       	<div class="row">
       		<div class="col-6">수정:PARK2</div>
       		<div class="col-6">456</div>
       		<a>어떻게 잡는 것인가?</a>
       	</div>
	</th:block>
</html>









