<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/user/assets/imgs/theme/favicon.svg}"/>
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/user/assets/css/main.css?v=5.6}" />
</head>
</head>
<body>
	<!-- header start -->
	<header th:replace="~{user/fragments/header :: headerFragment}"></header>
	<!-- header end -->
	<!-- mobile header start -->
	<div th:replace="~{user/fragments/mobileHeader :: mobileHeaderFragment}"></div>
	<!-- mobile header end -->
	<!-- contents start -->
	<main class="main">
		<th:block layout:fragment="customContents">
		
		</th:block>
	</main>
	<!-- contents end -->
	<!-- footer start -->
	   <footer th:replace="~{user/fragments/footer :: footerFragment}"></footer>   
	<!-- footer end -->
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img th:src="@{/user/assets/imgs/theme/loading.gif}" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader end -->
    <!-- Vendor JS-->
    <script th:src="@{/user/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/user/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/user/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/user/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/user/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/user/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/user/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/user/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/user/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/user/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/user/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/user/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/user/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/user/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/user/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/user/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/user/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <!-- Template  JS -->
    <script th:src="@{/user/assets/js/main.js?v=5.6}"></script>
    <script th:src="@{/user/assets/js/shop.js?v=5.6}"></script>
	<!-- This Page JS -->
    <th:block layout:fragment="customJsFile"></th:block>
    <!-- This Page JS Script -->
    <th:block layout:fragment="customJs"></th:block>
</body>
</html>